body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.navbar {
    overflow: hidden;
    z-index: 1;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropDown {
    float: left;
    overflow: hidden;
}

.dropDown .dropBtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropDown:hover .dropdownContent {
    display: block;
}

.redDot {
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: red;
}

.logo {
    font-size: 42px;
    font-family: Berlin Sans FB;
}

.logo1 {
    font-size: 42px;
    font-family: Berlin Sans FB;
    font-weight:100;
}

.logoheader {
    margin-right: 600px;
}

.padding {
    margin-top: 15px;
}

.Image1 {
    position: absolute;
    width: 96%;
    height: 480px;
    z-index: -4;
}

.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    width: 98%;
    height: 476px;
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
    z-index: -2;
}

.center {
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 150px;
    margin-left: 200px;
    z-index: -1;
}

.shopbtn {
    text-align: center;
    position: absolute;
    top: 300px;
    left: 500px
}

.centered {
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    word-spacing: 8px;
    font-size: 42px;
    margin-bottom: 25px;
}

.centered1 {
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 60px;
    z-index: 1;
}

.link1 {
    color: white;
    text-decoration: underline;
    z-index: 1;
}

.link1:hover {
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    from {
        text-decoration-color: gray;
    }

    to {
        text-decoration-color: white;
    }
}


.btn:hover {
    color: white;
    background-color: rgb(59, 59, 59);
    opacity: 1;
}

.main {
    text-align: center;
    margin-top: 500px;
}

.parent1 {
    font-size: 40px;
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 5px;
}

.parent2 {
    font-size: 22px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
}

.parent3 {
    font-size: 22px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 40px;
}

.main1 {
    width: 100%;
    height: auto;
    display: flex;
}

img {
    width: 250px;
    height: 150px;
    padding-right: 60px;
    margin-bottom: 10px;
}

.text {
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    color: gray;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 150%;
    width: 250px;
    height: 150px;
    margin-top: 5px;
}

.main2 {
    width: auto;
    height: auto;
    display: flex;
    text-align: left;
    justify-content: center;
    margin-left: 20px;
}

.mainContent {
    width: 400px;
}

.content1 {
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 0.08em;
    line-height: 105%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.content2 {
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    word-spacing: 3px;
    letter-spacing: normal;
    line-height: 200%;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 50px;
}

.img5 {
    width: 720px;
    height: 400px;
}

.imageContainer {
    margin-left: 50px;
    align-items: flex-end;
}

.button1 {
    width: 280px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.button1:hover {
    color: white;
    background-color: black;
}

.main3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 25px;
}

.main3parent1 {
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 0.08em;
    line-height: 105%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main3parent2 {
    font-size: 20px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
}

.main3parent3 {
    font-size: 20px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 20px;
}
.main3parent4{
   display: flex;
   justify-content: center;
}
.viewInstructors {
    width: 310px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    outline: 1px solid black;
    background-color: white;
    word-spacing: 4px;
    letter-spacing: 5px;
    padding-top: 15px;
    padding-left: 5px;
}

.viewInstructors:hover {
    color: white;
    background-color: black;
}

.main4 {
    width: auto;
    height: auto;
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 100px;
}

.main4imageContainer {
    margin: 0;
    padding: 0;
}

.img6 {
    width: 750px;
    height: 350px
}

.main4parent1 {
    font-size: 32px;
    font-family: Arquitecta, Helvetica, Arial, sans-serif;
    letter-spacing: 0.08em;
    line-height: 150%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main4parent2 {
    font-size: 18px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
}

.appleButton {
    width: 150px;
    height: 50px;
}

.storelinks {
    display: flex;
}

.playstoreButton {
    width: 150px;
    height: 50px;
}

.main5 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
}

.main5parent1 {
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 0.08em;
    line-height: 105%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main5parent2 {
    font-size: 20px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
}

.main5parent3 {
    font-size: 20px;
    font-family: Proxima-Nova, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 170%;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 20px;
}

.main6 {
    display: flex;
    padding: 50px;
}

iframe {
    height: 400px;
    margin-left: 50px;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: black;
}

.footerbtn1 {
    width: 250px;
    height: 50px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 720px;
    background-color: #fff;
    color: black;
    margin-top: 80px;
    font-weight: 900;
    letter-spacing: 2px;
}

.footerbtn2 {
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
}

.footerbtn1:hover {
    background-color: rgb(53, 51, 51);
    color: white;
}

.footerbtn2:hover {
    background-color: white;
    color: black;
}

.footer1 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}

.footerLinks1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
}

.footerLinks2 {
    margin-top: 30px;
    font-size: 14px;
}

.footerLinks3 {
    margin-top: 10px;
    font-size: 14px;
}