body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.navbar {
    overflow: hidden;
    z-index: 1;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropDown {
    float: left;
    overflow: hidden;
}

.dropDown .dropBtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropDown:hover .dropdownContent {
    display: block;
}

.redDot {
    width: 12px;
    height: 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: red;
}

.logo {
    font-size: 42px;
    font-family: Berlin Sans FB;
}

.logo1 {
    font-size: 42px;
    font-family: Berlin Sans FB;
    font-weight: 100;
}

.logoheader {
    margin-right: 600px;
}

.padding {
    margin-top: 15px;
}


div.gallery {
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

div.desc {
    padding-bottom: 150px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 200px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.instructors{
    width: 100%;
    height: 250px;
    background-color: rgb(245, 240, 240);
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
