body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.navbar {
  overflow: hidden;
  z-index: 1;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropDown {
  float: left;
  overflow: hidden;
}

.dropDown .dropBtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropDown:hover .dropdownContent {
  display: block;
}

.redDot {
  width: 12px;
  height: 12px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: red;
}

.logo {
  font-size: 42px;
  font-family: Berlin Sans FB;
}

.logo1 {
  font-size: 42px;
  font-family: Berlin Sans FB;
}

.logoheader {
  margin-right: 600px;
}

.padding {
  margin-top: 15px;
}

h1 {
  color: black;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 7px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

input {
  font-size: 14px;
  border: 1px solid rgb(140, 154, 155);
  padding: 11px 150px;
  line-height: 20px;
  font-weight: 400;
  margin: 10px 0px;
  vertical-align: middle;
  text-align: center;
}

#signin {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 210px;
  line-height: 20px;
  font-weight: 400;
  margin: 10px 0px;
  color: #f9f9f9;
  background-color: black
}

#fp {
  color: #999999;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
}

#hr {
  position: absolute;
  z-index: -1;
  width: 50%;
  margin: 7px 300px;
}

#or {
  margin-top: 0vh;
  margin-left: 0vh;
  font-size: 14px;
}

#signup {
  text-align: center;
  font-size: 18px;
}

#signup a {
  color: #000000;
}

h4,
#su {
  color: #999999;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
}

#su {
  font-size: inherit;
}

.row {
  display: flex;
}

.fa-instagram {
  background: #125688;
  color: rgb(10, 10, 10);
}

.fa-facebook {
  background: #3B5998;
  color: rgb(14, 13, 13);
}

.fa-twitter {
  background: #55ACEE;
  color: rgb(14, 13, 13);
}

.fa-youtube {
  background: #bb0000;
  color: rgb(17, 17, 17);
}

.fa-google {
  background: #a32d1e;
  color: rgb(155, 33, 33);
}

.footerLogo {
  font-size: 42px;
  font-family: Berlin Sans FB;
  font-weight: 100;
}

footer {
  background-color: #f9fbfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  bottom: 0;
  color: rgb(10, 9, 9)
}

.footer-navigation {
  margin: 0;
  padding: 0;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: rgb(14, 13, 13)
}

.footer-navigation h3 a {
  text-decoration: none;
  color: rgb(3, 3, 3)
}

.footer-navigation h3 span {
  color: #000000
}

.footer-navigation p.links a {
  color: rgb(8, 8, 8);
  text-decoration: none
}

.footer-navigation p.company-name {
  color: #525355;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px;
  }
}

.footer-contacts {
  margin-left: 0px;
}

.footer-contacts p {
  display: inline-block;
  color: #070707;
  vertical-align: middle
}

.footer-contacts p a {
  color: #000000;
  text-decoration: none
}

.fa.footer-contacts-icon {
  background-color: #121213;
  color: rgb(230, 223, 223);
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2
}

.footer-about {
  margin-left: 200px;
}

.footer-about h4 {
  display: block;
  color: rgb(12, 12, 12);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0
}

div.social-links {
  margin-top: 20px;
  color: rgb(240, 238, 238)
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 2px;
  font-size: 20px;
  color: #fcf3f3;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px
}

.footer {

  bottom: 0;
  width: 100%;

}


.button {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-animation: glowing 1300ms infinite;
  -moz-animation: glowing 1300ms infinite;
  -o-animation: glowing 1300ms infinite;
  animation: glowing 1300ms infinite;
}

@-webkit-keyframes glowing {
  0% {
      background-color: red;
      -webkit-box-shadow: 0 0 3px red;
  }

  50% {
      background-color: red;
      -webkit-box-shadow: 0 0 15px red;
  }

  100% {
      background-color: red;
      -webkit-box-shadow: 0 0 3px red;
  }
}