body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
  
  .navbar {
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropDown {
    float: left;
    overflow: hidden;
  }
  
  .dropDown .dropBtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdownContent a:hover {
    background-color: #ddd;
  }
  
  .dropDown:hover .dropdownContent {
    display: block;
  }
  .redDot{
    width: 12px;
    height: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: red;
  }
  .logo{
    font-size: 42px;
    font-family: Berlin Sans FB;
  }
  .logo1{
    font-size: 42px;
    font-family: Berlin Sans FB;
  }
  .logoheader{
    margin-right: 600px;
  }
  .padding{
    margin-top: 15px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
.main-header{
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.nav-list{
    list-style-type: none;
    display: flex;
}
.logo{
    font-weight: 600;
    color: black;
    font-size: 42px;
}
.nav-link{
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    transition: color .3s;
}
.nav-link:hover{
    color: #ccc;
}
.nav-item{
    margin-left: 50px;
}
.main-heading{
    font-weight: normal;
    color: #fff;
    font-size: 65px;
}
.main-heading-focus{
    color: black;
    font-weight: bold;
}
.sub-heading{
    text-align: right;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
}
.hero-cta{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: rgb(216, 213, 213);
    display: inline-block;
    margin-top: 30px;
}
.main-container{
    margin-top: 30px;
}
.main-card-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.card-content{
    width: 1560px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.card-img-container{
    width: 500px;
    height: 100%;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.card-img{
    height: 90%;
    transition: .5s ease-out;
}
.card-title{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.card-span{
    font-weight: normal;
    display: block;
}
.card-info{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    transition: .5s ease-out;
}
.card-info-list{
    margin: auto;
}
.card-info-item{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.card-img-container:hover > .card-info{
    top: 0;
}
.card-img-container:hover > .card-img{
    transform: scale(1.5);
}
.card{
    display: flex;
    flex-direction: column;
}
.banner-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px -1px 15px 3px rgba(0, 0, 0, 0.75);
}
.banner-content-container{
    text-align: right;
}
.banner-content{
    padding: 0 50px;
}
.banner-img{
    height: 100%;
}
.banner-title{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: left;
}
.banner-desc{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}
.banner-cta{
    display: inline-block;
    background: #333;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    transition: .3s;
}
.banner-cta:hover{
    background: #575656;
}
.contact-container{
    height: 540px;
    background: url(op.jpg);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-info-container,
.contact-form-container{
    flex-basis: 40%;
    height: 80%;
    background: black;
    display: flex;
}
.contact-form,
.contact-info{
    margin: auto;
}
.contact-info{
    color: white;
}
td{
    vertical-align: top;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input-container{
    width: 90%;
    text-align: center;
}
.input, .msg-input{
    width: 60%;
    margin-bottom: 10px;
    background: rgba(96, 97, 95, 0.35);
}
.input{
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
}
.input:focus, textarea:focus{
    outline: none;
    background: rgba(96, 97, 95, 0.6);
}
textarea{
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
}
input[type="email"],
input[type="text"]{
    padding-left: 10px;
}
input[type="submit"]{
    cursor: pointer;
}
input[type="submit"]:hover{
    background: rgba(96, 97, 95, 0.6);
}
.testimonial-container {
    height: 300px;
    background: #1e1e1e;
    margin-top: 30px;
    display: flex;
}
.testimonials{
    margin: auto;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#user-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
#user-2{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transition: .3s;
}
#user-3{
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translateY(-50%);
    transition: .3s;
}
.user-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-img-container{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img{
    height: 100%;
}
.user-info{
    width: calc(100% - 150px);
    color: white;
    padding: 20px;
}
.user-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.btn{
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
}
.slide-btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bg{
    background: white;
}
.no-bg{
    background: transparent;
}
.footer{
    background: #1e1e1e;
    margin-top: 30px;
} 
.news-letter{
    text-align: center;
    padding: 20px;
}
.news-letter-title{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
#news-letter-email{
    width: 350px;
    height: 40px;
    border: none;
    font-size: 16px;
    color: white;
    background: rgba(96, 97, 95, 0.5);
}
#news-letter-email:focus{
    outline: none;
    background: rgba(96, 97, 95, 0.8);
}
#news-letter-submit{
    width: 150px;
    height: 40px;
    border: none;
    background: rgba(96, 97, 95, 0.5);
    font-size: 16px;
    color: #ccc;
}
.footer-border{
    height: 3px;
    background: white;
    width: 80%;
    margin: 0 auto;
}
.footer-content-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-content{
    flex-basis: 30%;
}
.footer-logo,.footer-title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #febc1d;
    display: inline-block;
    margin-bottom: 10px;
}
.company-desc{
    color: white;
}
.footer-contact-info{
    color: white;
}
.footer-contact-info td{
    padding-left: 0;
}
.footer-nav-container{
    flex-basis: 30%;
}
.footer-title{
    text-transform: capitalize;
    color: white;
}
.footer-nav-list{
    list-style-type: none;
    color: white;
}
.footer-nav-item{
    margin-bottom: 20px;
    font-size: 18px;
}
.latest-post-container{
    flex-basis: 35%;
}

.latest-post-img-container{
    width: 150px;
}
.latest-post-img{
    width: 100%;
}
.latest-post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.latest-post-content{
    flex-basis: calc(100% - 170px);
}
.latest-post-title{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.latest-post-desc{
    color: white;
}

.social-nav-container{
    padding: 30px;
    display: flex;
}
.social-nav-list{
    margin: auto;
    display: flex;
    align-items: center;
}
.social-nav-item{
    list-style-type: none;
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.copyright{
    text-align: center;
    color: white;
    background: #2a2a2a;
    padding: 10px;
}

.shadow{
    position: absolute;
    top: 120px; 
    width:100%;
    height: 600px;
    background-color: black;
    opacity: 0.5;
}
.text1{
    color: white;
    font-size: 50px;
    margin-top: 150px;
}
.text2{
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.text3{
    width: 200px;
    height: 50px;
    background-color: rgb(192, 189, 189);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.text{
    color: white;
    font-size: 14px;
}